
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
   	padding: 0.5rem;
   	/*margin-bottom: 2rem;*/
   	position: sticky;
   	top: 0;
   	background-color: white;
}

nav > ul > div > li {
	list-style-type: none;
}

.nav-logo {
	padding: 1rem;
	margin-left: 3%;
	/*z-index: 2;*/
}

.nav-logo, .right-nav {
	display: inline-block;
}

.right-nav {
	/*text-align: right;*/
	float:  right;
   	margin-right: 3%;
}

.right-nav li {
	display: inline-block;
	padding: 1rem;
	/*z-index: 1;*/
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border-radius: 20px;
	font-weight: bold;
	padding:  0.5rem;
	border-color: #c2195b;
	width: 8rem;
	/*z-index: 3;*/
}

#bg-image {
	color: white;
	text-align: right;
	min-height: 22rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: fixed;
}

.front-bg {
	background-color: rgba(0,0,0, 0.5);
	min-height: 22rem;
}


.container {
	/*margin-left: 5rem;*/
	float:  right;
	margin-right: 3%;
	width: 35%;
}


.title {
	font-size: 40px;
	height:  7rem;
}

.subtitle {
	font-size: 20px;
	font-weight: lighter;
	height: 10rem;
}


.title, .title-2 {
	font-family: 'Zilla Slab';
}

.title-2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 3rem;
}


/*.title, .subtitle {
	min-height: 7rem;
}*/

.apply-button {
	color: white;
	background-color: #c2195b;
	border-radius: 20px;
	font-weight: bold;
	padding:  0.5rem;
	border-color: #c2195b;
	width: 8rem;
}


.intro-description {
	text-align: center;
}

.pre-footer {
	background-color: #f7fbfb;
}

.book-button {
	color: white;
	background-color: #336589;
	text-align: center;
	border-radius: 20px;
	padding:  0.5rem;
	border: none;
	width: 8rem;
}

.intro, .pre-footer, footer {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.prefooter-description {
	margin-bottom: 0.5rem;
}


.intro-description, .prefooter-description {
	margin-right: 8%;
	margin-left: 8%;
} 


footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}